// Typography
// ----------

body {
  font-family: 'Heebo', sans-serif;
  color: #3a416f;
}

// Normalize
// ---------

body,
figure,
ul,
ol {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}
